$color-primary: #58e0c1;
$color-secondary: #51ddfc;
$color-text: gray;

$color-white: #fff;
$color-red: #e4757a;
$color-orange: #fd7856;
$color-purple: #927bc1;
$color-blue: #3fabca;
$color-pink: #deb2ee;


$font-primary: 'Helvetica Neue', sans-serif;
$font-primary-light: 'Helvetica Neue-Light', sans-serif ;
