.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.grid__row {
  display: flex;
  flex-direction: column;

}

.form {
  display: flex;
  flex-direction: column;
}

.grid__col--12 {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}
