.nav {
  padding: 0;

}
.nav__item {
  list-style-type: none;
  a {
    @include button;
    background-color: $color-white;
    color: $color-primary;
    text-decoration: none;
    transition: .5s;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
