.container {

}
.link {
  color: $color-secondary;
  text-decoration: none;

}
.blockquote {

}
.headline--primary {
  color: $color-primary;
  font-family: $font-primary;
  font-weight: bolder;
}
.headline--secondary {
  color: $color-primary;
  font-family: $font-primary-light;
  font-weight: lighter;

}
