
.link {
  color: $color-secondary;
  text-decoration: none;

}
.blockquote {
  font-family: $font-primary;
  font-style: italic;
  font-size: 1.3em;
  color: $color-primary;
  text-align: left;
  border-left: 5px solid $color-primary;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 20px;
}
.headline--primary {
  color: $color-primary;
  font-family: $font-primary;
  font-weight: bolder;
  text-align: left;
  margin-left: 20px;
}
.headline--secondary {
  color: $color-primary;
  font-family: $font-primary-light;
  font-weight: lighter;
  text-align: left;

}
